.Item {
    position: relative;
    width: 100vw;
    overflow: visible;
    .container {
        z-index: 2;
        display: inline-block;
        width: 80vw;
        max-width: 600px;
        margin: 30px 0;
        h1 {
            .live {
                position: relative;
                font-size: .5em;
                bottom: 6px;
                animation: pulse 1.5s linear infinite alternate;
            }
            .live:hover {
                animation-play-state: paused;
            }
            font-weight: 900;
            text-align: left;
            color: #2C3655;
            margin-bottom: 12px;
        }
        .card {
            z-index: 3;
            cursor: pointer;
            box-shadow: 2px 3px 30px -10px rgba(0,0,0, .2);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background: white;
            border-radius: 20px;
            height: 220px;
            img {
                height: 70%;
            }
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes contentFix {
    0% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: -100px;
    }
}

@media only screen and (max-width : 700px) {
    .Item {
        .card {
            height: 160px !important;
        }
    }
}
