.About {
    position: relative;
    margin-top: -200px;
    .imageContent {
        width: 100vw;
        animation: slide-up 1s;
        .image {
            position: relative;
            display: inline-block;
            overflow: hidden;
            min-height: 200px;
            height: 30vw;
            max-height: 340px;
            width: 80vw;
            max-width: 850px;
            border-radius: 8px;
            user-select: none;
            pointer-events: none;
            z-index: 2;
        }
    }
    .content {
        text-align: left;
        display: inline-block;
        width: 80vw;
        max-width: 450px;
        margin-top: 20px;
        h1 {
            margin: 15px 0;
            color: #2C3655;
            font-weight: 900;
        }
    }
}

//
// Animations
// 
@keyframes slide-up {
    0% {
        opacity: 0;
        margin-top: 100px;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}


// 
// Mobile
// 
@media only screen and (max-width : 800px) {
    .About {
        .image {
            img {
                margin-top: 30px;
            }
        }
    }
}
@media only screen and (max-width : 500px) {
    .About {
        margin-top: -170px;
        .image {
            width: 93vw !important;
        }
    }
}