.Content {
    position: relative;
    height: auto;
    max-height: 1400px;
    margin-bottom: -100px;
    z-index: 2;
    width: 100vw;
    transition: max-height 1s, margin 1s;
    bottom: 130px;
    background: white;
    box-shadow: 0px 3px 30px -15px rgba(0,0,0, .2);
    overflow: hidden;
    .container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        .info {
            font-size: 1.1em;
            display: inline-block;
            max-width: 350px;
            margin-top: 150px;
            code {
                font-weight: bold;
                word-spacing: -5px;
            }
        }
        .buttons {
            margin-top: 20px;
            a {
                margin: 0 5px;
            }
        }
        h1 {
            margin-top: 60px;
            color: black;
            font-size: 1.5em;
            display: inline-block;
        }
        .team {
            // border: 1px solid black;
            max-width: 600px;
            overflow: hidden;
            display: inline-block;
            margin-bottom: 50px;
            .member {
                width: 100px;
                height: 100px;
                background: rgb(231, 231, 231);
                border-radius: 8px;
                margin: 10px;
                display: inline-block;
            }
        }
    }
}



.Content.item-enter {
    max-height: 0px;
    margin-bottom: 0px;
}
.Content.item-enter-active {
    max-height: 1400px;
    margin-bottom: -100px;
}
.Content.item-exit {
    max-height: 1400px;
    margin-bottom: -100px;
}
.Content.item-exit-active {
    max-height: 0;
    margin-bottom: 0px;
}