.Content {
    position: relative;
    height: 100px;
    width: 100vw;
    background: blue;
    overflow: hidden;
    color: white;
}
.Content.item-enter {
    animation: spawn .5s;
}
.Content.item-exit {
    animation: despawn .5s;
}

@keyframes spawn {
    0% {
        height: 0;
    }
    100% {
        height: 100px;
    }
}

@keyframes despawn {
    0% {
        height: 100px;
    }
    100% {
        height: 0;
    }
}