.Content {
    position: relative;
    height: 315px;
    margin-bottom: -100px;
    z-index: 2;
    width: 100vw;
    transition: height .5s, margin .5s;
    bottom: 130px;
    background: white;
    box-shadow: 0px 3px 30px -15px rgba(0,0,0, .2);
    overflow: hidden;
    .container {
        width: 100%;
        margin: 0;
        .info {
            code {
                font-weight: bold;
                word-spacing: -5px;
            }
            font-size: 1.1em;
            display: inline-block;
            max-width: 350px;
            margin-top: 150px;
        }
        .buttons {
            a {
                margin: 0 5px;
            }
            margin-top: 20px;
        }
    }
}



.Content.item-enter {
    height: 0px;
    margin-bottom: 0px;
}
.Content.item-enter-active {
    height: 315px;
    margin-bottom: -100px;
}
.Content.item-exit {
    height: 315px;
    margin-bottom: -100px;
}
.Content.item-exit-active {
    height: 0;
    margin-bottom: 0px;
}