.Header {
    background-image: url('../../images/header-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 90vh;
    min-height: 400px;
    color: white;
    position: relative;
    .content {
        display: inline-block;
        vertical-align: middle;
        margin-top: 80px;
        width: 100vw;
        max-width: 560px;
        height: 290px;
        position: relative;
        h1 {
            position: absolute;
            left: 0;
            margin-left: 15px;
            top: 70px;
            font-size: 4.2em;
            font-family: "Bebas";
            font-weight: normal;
        }
        img {
            transform: rotate(-6deg);
            position: absolute;
            right: 0;
            vertical-align: middle;
            width: 300px;
        }

    }
}

//
// Mobile
// 

// @media only screen and (max-width : 768px) {
//     .Header {
//         .content {
//             h1 {
//             }
//             img {
//             }
//         }
//     }
// }