.Header {
    background: url('../../images/header-background2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 800px;
    color: white;
    position: relative;
    overflow: hidden;
    .content {
        width: 100vw;
        max-width: 800px;
        height: 0;
        display: inline-block;
        .brandContent {
            position: relative;
            bottom: 400px;
            display: inline-block;
            vertical-align: middle;
            margin-top: 70px;
            width: 100vw;
            max-width: 560px;
            position: relative;
            h1 {
                position: absolute;
                left: 0;
                margin-left: 20px;
                top: 70px;
                font-size: 4.2em;
                font-family: "Bebas";
                font-weight: normal;
            }
            img {
                transform: rotate(-6deg);
                position: absolute;
                right: 0;
                vertical-align: middle;
                width: 300px;
            }
        }
        .cloudContent {
            position: relative;
            margin-top: 50px;
            display: inline-block;
            height: 400px;
            max-width: 800px;
            width: 100vw;
            .cloud {
                opacity: .85;
                height: 60px;
                width: 25vw;
                max-width: 172px;
                min-width: 115px;
                position: absolute;
                background: url('../../images/cloud.png');
                background-repeat: no-repeat;
                background-size: contain;
            }
            .cloud:nth-child(1) {
                transform: scaleX(-1) !important;
                animation: cloud1 4s infinite alternate ease-in-out;
                animation-delay: -2s;
                left: 15%;
                top: 20px;
                float: left;
            }
            .cloud:nth-child(2) {
                left: 74%;
                top: 200px;
                animation: cloud2 4s infinite alternate ease-in-out;
                float: right;
            }
            .cloud:nth-child(3) {
                left: 2%;
                animation: cloud3 4s infinite alternate ease-in-out;
                top: 350px;
                float: left;
            }
        }
    }
}

//
// Mobile
// 

@media only screen and (max-width : 500px) {
    .Header {
        .content {
            h1 {
                position: relative !important;
                margin: 0 !important;
                top: -220px !important;
                display: inline-block !important;
            }
            img {
                position: relative !important;
                margin: 0 !important;
                display: inline-block !important;
                opacity: .85;
            }
        }
    }
}

//
// Cloud Animations
//

@keyframes cloud1 {
    0% {
        transform: 
            rotate(0)
            translate(0, 0)
            rotate(0);
    }
    100% {
        transform: 
            rotate(90deg)
            translate(10px, 5px)
            rotate(-90deg);
    }
}

@keyframes cloud2 {
    0% {
        transform: 
            rotate(0)
            translate(0, 0)
            rotate(0);
    }
    100% {
        transform: 
            rotate(45deg)
            translate(-10px, -5px)
            rotate(-45deg);
    }
}

@keyframes cloud3 {
    0% {
        transform: 
            rotate(0)
            translate(0, 0)
            rotate(0);
    }
    100% {
        transform: 
            rotate(90deg)
            translate(-10px, -5px)
            rotate(-90deg);
    }
}