.Member {
    // background: #eee;
    .image {
        width: 100px;
        clip-path: circle(50% at 50% 50%);
    }
    .femalepng {
        transform: scaleX(-1);
    }
    .name {
        font-size: .85em;
        white-space: nowrap;
        font-weight: 600;
    }
    .position {
        margin-top: 1px;
        font-family: Menlo;
        font-size: .58em;
        line-height: 10px;
        height: 23px;
        // white-space: nowrap;
    }
    .social {
        img {
            height: 16px;
            margin: 0 3px;
        }
    }
}