.Navbar {
    li {
        cursor: pointer;
        display: inline-block;
        margin: 18px;
        font-weight: bold;
        font-size: .9em;
        color: white;
    }
    li:nth-child(1) {
        margin-left: 0;
    }
    li:nth-child(4) {
        margin-right: 0;
    }
    .live {
        position: relative;
        top: 2px;
        font-weight: 900; 
        font-size: 1.2em; 
        a {
            text-decoration: none;
            color: white;
        }
    }
}